html {
    font-size: 15px;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 1rem;
}


/* Page
=================*/

.page {
    width: 100%;
    height: 100vh;
    min-height: 770px;
    position: relative;
    overflow: hidden;

    background: #000 url("../img/bg.jpg") center no-repeat;
    background-size: cover;

}



/* Header
=================*/

.header {
    padding: 1rem 0;
    margin-bottom: 110px;

    background: #2B7DED;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.header-logo img {
    display: block;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    margin-left: 1.5rem;

    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;

    transition: color .2s linear;
}

.header-nav-link:hover {
    color: #b2e3fd;
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: -5px;
}


/* Content
=================*/

.content {
    height: 100%;
    width: 100%;
    max-width: 565px;
}

.content-header {
    margin-bottom: 35px;
}

.subtitle {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, .6);
    font-weight: 300;
}

.title {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
}

.title span {
    color: #2B7DED;
}

.text {
    margin-bottom: 50px;

    font-size: 1rem;
    color: #fff;
}



/* Btn
=================*/

.btn {
    display: inline-block;
    padding: 12px 35px;

    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    color: #fff;
    font-weight: 500;
    text-decoration: none;

    cursor: pointer;
    border: 0;
    background-color: #2B7DED;
    border-radius: 5px;

    transition: background .2s linear;
}

.btn:hover {
    background-color: #1461cb;
}

.btn-full {
    display: block;
    width: 100%;
}

/* Img
=================*/

.author {
    resize: none;
    position: absolute;

    height: 700px;
    width: auto;
    right: 5px;
    bottom: 0;
}

/* Footer
=================*/

.footer {
    width: 100%;
    position: absolute;
    bottom: 45px;
    left: 0;
}

/* Contacts
=================*/

.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    margin-right: 2rem;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.contacts-link:last-child {
    margin-right: 0;
}

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-icon {
    margin-bottom: -4px;
    margin-right: 5px;

}

/* Friends
=================*/

.friends-link {

    font-size: 1rem;
    color: #2B7DED;
    text-decoration: none;
    font-weight: 500;
}

.friends-link:hover {
    text-decoration: underline;
}

.friends-link:active {
    text-decoration: none;
    color: #2B7DED;
}


/* Media
=================*/

@media (max-width: 935px) {

    .author {
        right: -75px;
    }

}

@media (max-width: 859px) {

    .author {
        display: none;
    }
}
@media (max-width: 767px) {

    /* Page */
    .page {
        height: auto;
        min-height: 100vh;
        padding-bottom: 1rem;
    }

    /* Header */
    .header {
        margin-bottom: 50px;
    }

    .header-logo {
        display: none ;
    }

    .header-brand {
        font-size: 1.2rem;
    }

    /* Content */
    .content {
        max-width: none;
        margin-bottom: 50px;
    }

    /* Footer */
    .footer {
        position: static;
    }

}


@media (max-width: 565px) {

    /* Header */
    .header-inner {
        flex-direction: column;
        text-align: center;
    }

    .header-brand {
        margin-bottom: 0.4rem;
        align-items: flex-start;
    }

    .header-nav-link:first-child{
        margin-left: 0;
    }

    .header-nav-link.active:first-child {
        margin-left: 0;
    }


    /* Content */

    .content {
        text-align: center;
    }

    /* Contacts */

    .contacts {
        flex-direction: column;
        text-align: center;
    }

    .contacts-link {
        margin-right: 0;
    }

}

@media (max-width: 320px) {
    .subtitle{
        font-size: 1.2rem;
    }

    .title {
        font-size: 1.7rem
    }
}